/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "materialize";
@import "materialize/extras/nouislider";
@font-face { font-family: AkaDora; src: url('fonts/akaDora.otf'); }
@font-face { font-family: AkaDora; src: url('fonts/akaDora.ttf'); } 
@font-face { font-family: Alisandra; src: url('fonts/alisandra.ttf'); }

body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #FF912E !important;
    height:100%;
    width: 100%;
}

header {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
}

h2, h3, h4, h5 { font-family: "alisandra"; }

.orange-background { background-color: #FF912E; }
.orange-font { color: #FF912E; }
.white-background { background-color: white; }
.white-font { color: white; }
.light-grey-background { background-color: #f8f8f8; }
.light-grey-font { color: #f8f8f8; }
.dark-grey-background { background-color: #9e9e9e; }
.dark-grey-font { color: #9e9e9e; }

section {
	padding-top: 25px;
	padding-bottom: 25px;
}

.btn-danger {
    background-color: #d9534f !important;
}