#dateplan-container {
/*	border: 1px solid transparent;
	border-radius: 6px;
	margin-top: 3px;
	padding: 20px; */
	min-height: 79vh;
}

.dateplan-element {
	padding: 15px;
	border-radius: 6px;
}

.arrow-mid {
	font-size: 32pt;
}

.img-dateplan {
	height: 150px;
	width: 150px;
	display: inline !important;
	border: 2px solid white;
}

.dateplan-title {
	display: inline;
	vertical-align: middle;
	margin-left: 15px;
}

.line-dateplan {
	border-left: 1px solid white;
	height: 150px;
}

.date-row {
	margin-bottom: 0px !important;
}

.date-row div {
	padding: 0;
}

.dateplan-text {
	padding-left: 25px !important;
	color: white;
	font-weight: bold;
}

.uber-font {
	padding-top: 15px !important;
	padding-left: 20px !important;
	font-weight: bold !important;
	color: white;
}

#make-suggestion {
	margin-bottom: 25px;
}

@media (max-width: 992px){
	.line-dateplan {
		display: none;
	}
}