#user-form {
  border: solid transparent 1px;
  border-radius: 6px;
  padding: 15px;
  padding-left: 25px;

  .form-title {
    margin-bottom: 0;
  }

  .form-subtitle {
    margin-top: 0;
  }

  a .fa {
    color: white;
  }

  .panel-heading h5 {
    font-weight: bold;
  }

  .panel-collapse {
    padding: 15px;
  }

  .interest-span {
    border: 1px solid transparent;
    border-radius: 2px;
  }
}

#user-content {
  border: solid 1px transparent;
  border-radius: 6px;
  padding: 25px;

  a .fa {
    color: white;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }

  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 1 !important;
    left: 0 !important;
  }

  .checkbox {
    padding-left: 25px;

    input {
      margin-left: 5px !important;
      margin-top: -1px !important;
    }
  }
}

#user-profile {
  input[type=password]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=email]:focus:not([readonly]){
    border-bottom: 1px solid #FF912E;
    box-shadow: 0 1px 0 0 #FF912E;
  }
  input.btn-primary { 
    border: 1px solid #FF912D;
    border-radius: 4px;
    background-color: white;
    color: #FF912E;
  }
}