//.backgroundimg
section
  header
    .container-fluid
      .row.intro-text
        /img#imglogo[src="assets/logos/logosolo_n.png"]
        #main-title
          h1
            | Wingman
        .subheader
          h6
            | We got your dates covered
      .row#arrow
        .col-md-4.col-md-offset-4
          i.fa.fa-sort-desc

#myModal.modal.fade role="dialog"
  .modal-dialog
    .modal-content
      .modal-header
        button.btn-xs.close type="button" data-dismiss="modal"&times;
        h1.text-center
          |W
      .modal-body.text-center
        |Something
      .modal-footer
        |Footer

section#about-section.white-background
  .container
    .row
      .col-md-12
        h5
          |Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
/ section#services
/   .container
/     .row
/       .col-lg-12.text-center
/         h2.section-heading
/           | I have no preferences
/         h3.section-subheading.text-muted
/           | Get me random ideas
/       img#random-ideas-btn.img-circle.img-responsive.z-depth-1[alt="Random ideas button" src="assets/icons/kiss.png"]
/ section#about
/   .container
/     .row
/       .col-lg-12.text-center
/         h2.section-heading
/           | About
/         h3.section-subheading.text-muted
/           | Lorem ipsum dolor sit amet consectetur.
/     .row
/       .col-lg-12
/         ul.timeline
/           li
/             .timeline-image
/               img.img-circle.img-responsive[src="assets/about/1.jpg" alt=""]
/             .timeline-panel
/               .timeline-heading
/                 h4
/                   | 2009-2011
/                 h4.subheading
/                   | Our Humble Beginnings
/               .timeline-body
/                 p.text-muted
/                   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
/           li.timeline-inverted
/             .timeline-image
/               img.img-circle.img-responsive[src="assets/about/2.jpg" alt=""]
/             .timeline-panel
/               .timeline-heading
/                 h4
/                   | March 2011
/                 h4.subheading
/                   | An Agency is Born
/               .timeline-body
/                 p.text-muted
/                   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
/           li
/             .timeline-image
/               img.img-circle.img-responsive[src="assets/about/3.jpg" alt=""]
/             .timeline-panel
/               .timeline-heading
/                 h4
/                   | December 2012
/                 h4.subheading
/                   | Transition to Full Service
/               .timeline-body
/                 p.text-muted
/                   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
/           li.timeline-inverted
/             .timeline-image
/               img.img-circle.img-responsive[src="assets/about/4.jpg" alt=""]
/             .timeline-panel
/               .timeline-heading
/                 h4
/                   | July 2014
/                 h4.subheading
/                   | Phase Two Expansion
/               .timeline-body
/                 p.text-muted
/                   | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
/           li.timeline-inverted
/             .timeline-image
/               h4
/                 | Be Part 
/                 br
/                 | Of Our 
/                 br
/                 | Story!